.subnav
    width: 100%
    a
        margin: auto 4.75% auto 0px

[id^=section]
    h2
        letter-spacing: 4px
        padding-top: 20px

table
    padding-top: 10px
    width: 100%
    td.headshot
        height: $max-width/3
        width: $max-width/3
        background-size: cover
        background-repeat: no-repeat
        background-position: 50% 50%
    td.info
        padding: 0px 15px

        // width: 30%
        // padding: 25px



// @media (max-width: 650px)
//     table
//         td 
//             background: none