.subnav
    width: 100%
    a
        margin: 5px 25px 5px 0px
[id^=section]
    h2
        letter-spacing: 4px
        padding-top: 20px

table
    padding-top: 10px
    width: 100%
    td
        width: 30%
        padding: 25px
        background-size: cover
        background-repeat: no-repeat
        background-position: 50% 50%


@media (max-width: 650px)
    table
        td 
            background: none