[id^=shadow]
	display: none
[id^=card]
	width: 180px
	height: 180px
	display: inline-block
	background-size: 100%
	h2
		margin-left: 15px
	&:hover
		-webkit-filter: blur(3px)
#cwrap
	display: inline-block
#box
	max-width: 100%
	min-height: 45vh
	margin-top: 0px
	position: relative
