[id^=shadow]
	display: none
[id^=card]
	width: 150px
	height: 150px
	display: inline-block
	background-size: 100% 
	h2
		margin-left: 15px
	&:hover
		-webkit-filter: blur(3px) 
#box
	max-width: 100%
	min-height: 45vh
	margin-top: 25px
	position: relative

@media (max-width: 690px)
	[id^=card]
		width: 30%
		height: 22%
		max-width: 100px
		max-height: 100px
		margin-top: 10px

