.card
	width: 100px
	height: 100px
	background-color: rgba(63, 127, 191, 0.5)
	display: inline-block
	h2
		margin-left: 15px
	&:hover
		background-color: rgba(63, 127, 191, 0.2) 
@media (max-width: 690px)
	.card
		width: 30%
		height: 22%
		max-width: 100px
		max-height: 100px
		margin-top: 10px


.shadow
	display: none
.box
	max-width: 100%
	min-height: 55vh
	margin-top: 25px
	border:
		style: solid
		width: 10px
		color: rgba(63, 127, 191, 0.5)