---
layout: default
---


<div class="subnav">
	<a href="#section-1"> Principal Investigators</a>
	 |   
	<a href="#section-2"> Postdoctoral Students </a>
	 |    
	<a href="#section-3">Graduate Students</a>
	 |    
	<a href="#section-4">Undergraduate Students</a>
<!-- 	<a href="#section-5">Alumni</a>
	<a href="#section-6">Collaborators</a> -->
</div>

<div id="section-1">
	<h2> Principal Investigator</h2>
	<table>
		{% for person in site.data.people.pi %}
			{% include parsed_person.html %}
		{% endfor %}
	</table>

</div>

{% if site.data.people.postdocs %}
<div id="section-2">
	<h2>Postdoctoral Fellows </h2>
	<table>
		{% for person in site.data.people.postdocs %}				
			{% include parsed_person.html %}
		{% endfor %}
	</table>
</div>
{% endif %}


{% if site.data.people.grads %}
<div id="section-3">
	<h2>Graduate Students</h2>
	<table>
		{% for person in site.data.people.grads %}
			{% include parsed_person.html %}
		{% endfor %}
	</table>
</div>
{% endif %}

{% if site.data.people.undergrads %}
<div id="section-4">
	<h2>Undergraduate Students</h2>
	<table>
		{% for person in site.data.people.undergrads %}
			{% include parsed_person.html %}
		{% endfor %}
	</table>
</div>
{% endif %}
