---
---
$headlineColor: rgba(0,0,0, 0.7)
$accent: #9099a2
$selectionColor: #6d7993
$documentBackgroundColor: #fff 
$textColor: rgba(0,0,0, 0.7)
$accent-light: #acb3b9 
$bgcolor: #746d93
$fontFamily: 'Raleway', sans-serif
$smallestFontSize: 12
$max-width: 800px

@import 'base'
@import 'header'
@import 'footer'
@import 'index'
@import 'papers'
@import 'people'
@import 'projects'
@import 'contact'